.badge-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    place-content: center;
    border: 1px dashed #888;
    background-color: #EEE;
}

.badge-container > img {
    pointer-events: none;
}

.print-badge-cut {
    border: 1px dashed #888;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    place-content: center;
    align-items: center;
}

.print-badge-container {
    border-radius: 50%;
    display: flex;
    place-content: center;
}
