@font-face {
  font-family: Jost;
  src: url('./assets/Jost-Regular.ttf');
}

:root {
  --TursaCyan: #68cbd3;
  --TursaPurple: #7374a4;
  --TursaPink: #e1cff6;
  --Error: #7e2a73;
  font-family: Helvetica, Arial, sans-serif;
}
